{erl_opts, [debug_info]}.
{deps, [
    {ranch, "1.6.1"},
    {cowboy, "2.4.0"},
    {swab, "1.0.4"},
    {genlib, {git, "https://github.com/rbkmoney/genlib", master}}
]}.

{relx, [
    {release, {'nossh', "0.1.0"}, [
        nossh
    ]},
    {sys_config            , "./config/sys.config"},
    {vm_args               , "./config/vm.args"},
    {dev_mode              , true},
    {include_erts          , false},
    {extended_start_script , false},
    %% wapi
    {overlay, [
        {mkdir , "var"},
        {copy  , "var/secret" , "var/secret"},
        {copy  , "var/sid"    , "var/sid"   }
    ]}

]}.
