{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.4.0"},
    {genlib, {git, "https://github.com/rbkmoney/genlib", master}}
]}.

{relx, [
    {release, {'lenex', "0.1.0"}, [
        lenex
    ]},
    {sys_config            , "./config/sys.config"},
    {vm_args               , "./config/vm.args"},
    {dev_mode              , true},
    {include_erts          , false},
    {extended_start_script , false},
    %% wapi
    {overlay, [
        {mkdir , "var"},
        {copy  , "var/key", "var/key"}
    ]}

]}.
